<div class="row">
    <div class="col-12 pt-3">
        <figure>
            <img [src]="recipe.image" alt="{{recipe.name}}" class="img-fluid">
            <figcaption>{{recipe.name}}</figcaption>
        </figure>
    </div>
    <div class="col-12">
        <div class="btn-group" aria-haspopup="true" aria-expanded="false" appDropdown>
            <button class="btn btn-primary dropdown-toggle">
        Manage Recipe
      </button>
            <ul class="dropdown-menu">
                <li><a>Add To List</a></li>
                <li><a>Edit Recipe</a></li>
                <li><a>Delete Recipe</a></li>
            </ul>
        </div>
    </div>
    <div class="col-12">
        {{recipe.description}}
    </div>
    <div class="col-12">
        Ingredients
    </div>
</div>